
@{
    ViewBag.Title = "CartNull";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="container-fluid" style="margin-top: 210px; margin-bottom: 170px;">
    <div class="row text-center justify-content-md-center">
        <div class="col-md-12">
            <h1 class="text-danger fw-bold">GIỎ HÀNG TRỐNG!</h1>
        </div>
    </div>
</div>