
@{
    ViewBag.Title = "Introduce";
    Layout = "~/Views/_LayoutPage.cshtml";
}

<div class="container-fluid text-center align-items-center justify-content-md-center mt-5 mb-5">
    <img src="~/Content/images/logo1.png" class="w-25 mt-5" />

    <div class="row text-start">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <p style="color: #666666;">
                Sunflower.sg là cửa hàng chuyên cung cấp các sản phẩm và dịch vụ từ các loại
                hoa tươi khác nhau. Đảm bảo khách hàng khi đến với Sunflower.sg đều được đáp ứng
                mọi yêu cầu về sản phẩm và những lời nhắn nhủ mà họ muốn gửi đến đối phương.
                Sunflower.sg luôn hướng tới trở thành một thương hiệu uy tín mà mọi người đều biết
                đến. <br /><br />
                <b><i class="bi bi-bookmarks"></i> Tầm nhìn:</b> <br />
                Trở thành cửa hàng hoa tươi nghệ thuật hàng đầu của thành phố Hồ Chí Minh, và
                có nhiều chi nhánh trên cả nước. <br /><br />
                <b><i class="bi bi-bookmarks"></i> Sứ mệnh:</b> <br />
                - Mang đến cho khách hàng những sản phẩm hoa tươi nghệ thuật tuyệt vời, chất
                lượng, độc đáo và mang cá tính chỉ dành cho riêng mình với sự hài lòng tuyệt đối. <br />
                - Dùng cái đẹp đến từ thiên nhiên để tô điểm cho cuộc sống tất bận như hiện nay. <br />
                - Kết nối tình cảm con người một cách tinh tế, nhẹ nhàng và đầy cảm xúc với các
                sản phẩm hoa tươi nghệ thuật. <br /><br />
                <b><i class="bi bi-bookmarks"></i> Giá trị cốt lõi:</b> <br />
                - Trung thực, công bằng, đạo đức; <br />
                - Tôn trọng, thấu hiểu tường tận cá tính, xu hướng thẩm mỹ của khách hàng; <br />
                - Tận tâm, chu đáo, tỉ mỉ với khách hàng từ những cử chỉ nhỏ nhất; <br />
                - Luôn đầu tư tuyến chọn các nguồn nguyên liệu chất lượng tươi tốt, mang tính độc
                đáo cao để tạo ra các sản phẩm nghệ thuật có cá tính riêng; <br />
                - Đội ngũ nhân viên không ngừng học hỏi và sáng tạo để tạo ra các sản phẩm hoa
                tươi mang tính nghệ thuật độc đáo; <br />
                - Đảm bảo chất lượng sản phẩm và tiến độ thực hiện công việc. Đảm bảo sự nhanh
                chóng, an toàn, tin cậy trong quá trình giao dịch trực tiếp cũng như qua môi trường
                thương mại điện tử.<br />
            </p>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>