
@{
    ViewBag.Title = "HomeAdmin";
    Layout = "~/Views/_LayoutPageAdmin.cshtml";
}

<div class="container-fluid" style="margin-top: 140px; margin-bottom: 25px;">
    <div class="row justify-content-md-center text-center">
        <div class="col-md-12">
            <img src="~/Content/images/Administrator.png" class="shadow" style="width: 50%" />
        </div>
    </div>
</div>